@model Product

@{
    ViewBag.Title = "Деталі книги";
    Layout = "_MainLayout";
}
  <h1 class="text-center text-info"> О товаре </h1>
<div class="row">
    <div class="col p-3">
        <img alt="product" src="~/@Model.Image" width="300"/>
    </div>
    <div class="col  p-3">
        <h3>Название: @Model.Name</h3>
        <p>Цена: @Model.Price</p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, excepturi!
        </p>
        @if (User.Identity.IsAuthenticated)
        {
    <button class="btn btn-success text-white " onclick="addCart(@Model.Id)">Добавить в корзину</button>}
        @if (!User.Identity.IsAuthenticated)
        {
    <p><a asp-controller="Account" asp-action="Login">Для замовлення необхідно увійти до особистого кабінету!</a></p>}

        @if (User.IsInRole("admin"))
        {
    <div class=" pt-3">
        <a class="btn btn-primary mb-2" asp-action="Edit" asp-controller="Product" asp-route-id="@Model.Id">Редактировать</a><br />
        <button class=" btn btn-danger" data-toggle="modal" data-target="#delete-@Model.Id">Удалить</button>
    </div>}

    </div>
</div>

 <!-- Modal for delete confirm -->
    <div class="modal fade" id="delete-@Model.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
             <h3>Хотите удалить товар?</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-footer">
            <form asp-controller="Product" asp-action="Delete" asp-route-id="@Model.Id" method="post">
              <input type="submit" class="btn btn-danger" value="Удалить" />
            </form>
            <button type="button" class="btn btn-primary" data-dismiss="modal">Закрыть</button>
          </div>
        </div>
      </div>
    </div>


@section Scripts{
    <script>
    function addCart(prop)
         {
          
            $.ajax
            ({
              type: 'get',
              url:  '@Url.Action("AddToCart", "Cart")?id=' +prop,
              success: function () 
               {
                 $.ajax
                    ({
                        type: 'get',
                        url:  '@Url.Action("CartState", "Cart")',
                        success: function (res)
                        {
                            console.log("res",res);
                            if(res>0)
                            {
                                $('#my-cart').html(res).addClass("red-number");
                            
                            }
                            else{
                                $('#my-cart').empty().removeClass("red-number");
                            }
                
                        }
                    });
               }
            })
         }
    </script>
   
}